<h1> Bienvenido a Cafira </h1>
<h2> Para ingresar a la cuenta debes entrar con los siguientes datos.</h2>
<p>
    Tu usuario es: <%= @expositor.mail %>,
    Tu contraseña temporal es: <%= @password %>

    Recomendamos cambiar la clave una vez ingresado en la cuenta.
</p>
