// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$skinMainFirstColor: #4B4F52!default;
$skinMainSecondColor: #F38E00!default;
$skinBorderWindowColor: #ACACAC!default;

@import "wigu/active_admin_theme";
@import "active_admin/translate";

@import "vex";
@import "vex-theme-os";


#wrapper .flashes .flash{
	color:#ACACAC;
}

#wrapper table.index_table th,
#wrapper table.index_table th.sorted-desc,
#wrapper table.index_table th.sorted-asc{
	background-color:#F38E00;
	color:white;
    border-bottom: 3px solid #F38E00;
    border-right: 1px solid #F38E00;
}

#wrapper table.index_table th a{
	color:white;	
}


.text-right{
	text-align:center;
}

.status_tag{
	font-weight:bold;
	padding:8px;
	border-radius:4px;
}

.status_tag.yes{
	background-color:#2ecc71;
}

.status_tag.no{
	background-color:#e74c3c;
}

span a{
	text-decoration:none!important;
	color:#3498db;
}

#site_title_image{
	width:120px;
	margin-top:7px;
	margin-bottom:0;
	padding-bottom:0;
}

.completed_status_tag {
	font-size:15px!important;
	text-align: center;
	width: 50%;
	margin:auto;
}

.label-orange{
  color:#F38E00;
}

.label-red{
  color:#e74c3c;
}

.label-green{
  color:#2ecc71;
}
input[type=text]:disabled {
	background-color:#FFE8E8!important;
}

.vex-dialog-button-primary {
	background-color:#F38E00!important;
}