// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$skinMainFirstColor: #4B4F52!default;
$skinMainSecondColor: #F38E00!default;
$skinBorderWindowColor: #ACACAC!default;

@import "wigu/active_admin_theme";
@import "active_admin/translate";

@import "vex";
@import "vex-theme-os";


#wrapper .flashes .flash{
	color:#ACACAC;
}

#wrapper table.index_table th,
#wrapper table.index_table th.sorted-desc,
#wrapper table.index_table th.sorted-asc{
	background-color:#F38E00;
	color:white;
    border-bottom: 3px solid #F38E00;
    border-right: 1px solid #F38E00;
}

#wrapper table.index_table th a{
	color:white;
}


.text-right{
	text-align:center;
}

.status_tag{
	font-weight:bold;
	padding:8px;
	border-radius:4px;
}

.status_tag.yes{
	background-color:#2ecc71;
}

.status_tag.no{
	background-color:#e74c3c;
}

span a{
	text-decoration:none!important;
	color:#3498db;
}

#site_title_image{
	width:120px;
	margin-top:7px;
	margin-bottom:0;
	padding-bottom:0;
}

.completed_status_tag {
	font-size:15px!important;
	text-align: center;
	width: 50%;
	margin:auto;
}

.label-orange{
  color:#F38E00;
}

.label-red{
  color:#e74c3c;
}

.label-green{
  color:#2ecc71;
}

.label-grey{
  color:grey;
}

input[type=text]:disabled {
	background-color:#FFE8E8!important;
}

.vex-dialog-button-primary {
	background-color:#F38E00!important;
}

.empty-label{
	font-style:italic;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

.sent-mail{
	color: green;
	font-weight:bold;
}

.formtastic fieldset > ol >li.radio fieldset ol li {
  margin:0.1em 0.5em 0.5em 0;
  display: inline-block;
}

.btn-disabled {
	pointer-events:none;
	background-color: grey !important;
	color:darkgrey!important;
}


.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: left;
    margin: 5px 45px 5px 20px;
	border-color: #cdecb0;

}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;

	}

.bubble{
		background-color: #F2F2F2;
		border-radius: 5px;
		box-shadow: 0 0 6px #B2B2B2;
		display: inline-block;
		padding: 10px 18px;
		position: relative;
		vertical-align: top;
		margin: 10px 10px;
		border-color: #cdecb0;
		width: 60%;

	}




.bubble2{
    background-color: #dfeecf;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: left;
    margin: 5px 45px 5px 20px;
	border-color: #cdecb0;

	  }

.bubble2::before {

float:right;
    background-color: #dfeecf;
    content: "\00a0";
    display: block;
    height: 19px;
    /*position: absolute;*/
	position:relative;
    left: 26px;
	top: 11px;
    transform:             rotate( 205deg ) skew( -35deg );
        -moz-transform:    rotate( 205deg ) skew( -35deg );
        -ms-transform:     rotate( 205deg ) skew( -35deg );
        -o-transform:      rotate( 205deg ) skew( -35deg );
        -webkit-transform: rotate( 205deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );

}

.bubble2{
		float: right;
		width: 60%;
		background-color: #dfeecf;
		border-radius: 5px;
		box-shadow: 0 0 6px #B2B2B2;
		display: inline-block;
		padding: 10px 18px;
		position: relative;
		vertical-align: top;
		margin: 10px 10px;
		border-color: #cdecb0;

}



.convName { padding-left:0px; color:#5082b9; font-weight:600;}

.convName2 { float: right; padding-left:0px; color:#5082b9; font-weight:600;}

.convSay { padding-left:0px; color:#000; font-weight:599; word-wrap: break-word;}

.convSay2 {  float: right; padding-left:0px; color:#000; font-weight:599; word-wrap: break-word;}

.convDate2 {  float: right; padding-left:0px; color:#000; font-weight:400;}


// .dissaproved{
// 	  position:relative;
// 	  padding:8px;
// 	  margin:1em 0 3em;
// 	  color:#534f46;
// 	  background:#c81e2b;
// 	  /* css3 */
// 	  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
// 	  background:-moz-linear-gradient(#f04349, #c81e2b);
// 	  background:-o-linear-gradient(#f04349, #c81e2b);
// 	  background:linear-gradient(#f04349, #c81e2b);
// 	  -webkit-border-radius:10px;
// 	  -moz-border-radius:10px;
// 	  border-radius:10px;
// }
